.button {
    margin-top: 20px;
    background: linear-gradient(to left, #f18900 50%, #3b474d 50%);
    color: white;
    padding: 12px 24px;
    border-radius: 10px;
    font-size: 1rem;
    font-weight: bold;
    border: none;
    transition: background-color 0.3s;
    display: block;
    margin: auto;
    cursor: pointer;

    &:hover {
        transform: translateY(-2px);
        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
        background: linear-gradient(to right, #f18900 50%, #3b474d 50%);
        color: #fff;
    }

    &.disabled {
        background: #f0f0f0;
        color: #999;
        cursor: not-allowed;
        box-shadow: none;
    }
}