.container {
    position: relative;
}

.container label {
    margin: 15px 0;
}


.container button {
    margin-top: 60px;
}

.container h2 {
    margin-bottom: 30px;
}

.modal {
    display: flex;
}

@media screen and (max-width:690px) {
    .container h2 {
        font-size: 20px;
    }
}