.container {
    position: relative;
}


.container h2 {
    color: white;
    margin-bottom: 30px;
}

.modal {
    display: flex;
    background: linear gradient(to left, #f18900 50%, #3b474d 50%);
    background: red;
}