.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;

    button {
        margin-top: 30px;
        margin-bottom: 10px;
        font-family: "Fantasy";
        background-color: yellow;
    }

    input {
        border: 2px solid black;
        font-family: "Fantasy";
    }

    p {
        font-family: "Fantasy";
    }
}