.container {
    text-align: center;
}

.container div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container h2 {
    min-width: 100px;
    color: white;
}

.container h2:first-child {
    margin-right: 10px;
}