.container {
    text-align: center;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container h4 {
    min-width: 100px;
    color: white;
    margin-bottom: 16px;
}

.container h4:first-child {
    margin-right: 10px;
}