.container {
    width: 100%;
    height: auto;
}

.select {
    margin: 20px auto auto auto;
    border: 2px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    color: #333;
    cursor: pointer;

    &:hover {
        border-color: #f18900;
    }

    &:focus-visible {
        outline: none;
    }

    .react-select__control {
        border: none;
        box-shadow: none;
    }

    .react-select__menu {
        border: 2px solid #ccc;
        border-top: none;
        border-radius: 0 0 5px 5px;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        z-index: 9999;
        max-height: 100px;
    }
}