.container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 20px;
}


.container>span>label {
    font-weight: 600;
}


.container>span {
    display: flex;
    align-items: center;
    padding: 10px 20px;
    color: white;
    background: linear-gradient(to left, #f18900 50%, #3b474d 50%);
    margin-right: 10px;
    border-radius: 8px;
    box-shadow: 2px 2px 2px rgb(125, 122, 122)
}

.container>input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}