.formContainer {
    margin: 19% 5% 15% 5%;
    position: relative;
}

.formContainer input {
    width: "70%";
}

.formContainer label {
    color: "#f2f2f2";
    font-weight: bolder
}

.formContainer a {
    font-size: 14px;
    text-decoration: underline;
    padding-top: 10px;
    color: #f2f2f2;
    font-weight: bolder;
}

.formContainer button {
    margin-top: 30px;
    margin-bottom: 20px;
    background-color: yellow;
}

.formContainer img {}