.container {
    max-height: 100vh;
    padding: 100px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.formContainer {
    width: 100%;
    max-width: 400px;
    padding: 0 5%;
}

.formContainer input:not([type="checkbox"]) {
    width: 100%;
    border-radius: 6px;
    height: 40px;
    margin-bottom: 15px;
    padding: 8px;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

.formContainer input[type="checkbox"] {
    margin-right: 8px;
}

.formContainer input:focus-visible {
    outline: none !important;
}

.formContainer label {
    font-weight: bolder;
    color: #e8e8e8;
    margin-bottom: 4px;
}


.formContainer button {
    margin-top: 30px;
    margin-bottom: 20px;
}