.formContainer {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    padding: 0 5%;
}

.formContainer input {
    width: 100%;
    max-width: 400px;
    border-radius: 6px;
    height: 30px;
    margin-bottom: 15px;
}

.formContainer input:focus-visible {
    outline: none !important;
}

.formContainer label {
    font-weight: bolder;
    color: #e8e8e8;
    margin-bottom: 4px;
}

.formContainer a {
    font-size: 14px;
    text-decoration: underline;
    padding-top: 10px;
    color: #eeeeee;
    font-weight: bolder;
}

.formContainer button {
    margin-top: 30px;
    margin-bottom: 20px;
}