.image {
    margin: 30px auto 30px auto;
    display: block;
    max-width: 37%;
    max-height: 37%;
}

.image:hover {
    scale: 1.1;
    cursor: pointer;
}

@media screen and (max-width: 669px) {
    .image {
        min-width: 22%;
        min-height: 22%;
    }
}