.parent {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    position: relative;
}

.firstChild,
.secondChild {
    position: absolute;
    top: 0;
    height: 100vh;
}

.firstChild {
    width: 50%;
    background-color: #f18900;
    left: 0;
}

.secondChild {
    width: 50%;
    background-color: #3b474d;
    right: 0;
}