.container {
    padding: 30px;
}

.container p {
    font-size: 16px;
    font-weight: 500;
}


.inlineAction {
    color: black;
    font-weight: 700;
    border: 0;
    background: transparent;
    padding: 0;
    text-decoration: underline;
}


.inlineAction:hover {
    cursor: pointer;
}

.container>div {
    font-weight: 700;
    font-size: 18px;
    text-align: center;
    margin: 30px auto auto auto;
    border: 2px dotted white;
    width: fit-content;
    padding: 5px 10px;
}